apiVersion: v1
kind: Service
metadata:
  name: backend-service
  namespace: student-app
spec:
  selector:
    app: backend
  ports:
    - name: http
      port: 3000
      targetPort: 3000
      nodePort: 30007  # Changed port
  type: NodePort