apiVersion: v1
kind: Service
metadata:
  name: frontend-service
  namespace: student-app
spec:
  selector:
    app: frontend
  ports:
  - port: 80
    targetPort: 80
    nodePort: 31349  # Keep existing node port for Minikube access
  type: LoadBalancer
